<div class="container">
  <h1>Edit your profile</h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
  <p><%= image_tag @user.image.url %></p>
  <%= form_with(model: @user, local:true)do|f| %>
    <br>
    <label><%= f.file_field :image %></label>
    <br>
    <br>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation %></p>
    <br>
    <%= f.submit "Update", class:"btn" %>
  <% end %>
  <br>
  <br>
  <p><%= link_to "Back to your profile",user_path(@user.id) %></p>
  <%= link_to "Back to top",records_path %>
</div>
