<div class="container">
  <h1>Profile</h1>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <br>
  <br>
  <p>Name：<%= @user.name %></p>
  <p>Email：<%= @user.email %></p>
  <br>
  <p><%= link_to 'Edit', edit_user_path(@user.id),class:"label label-warning" %></p>
  <br>
  <p><%= link_to 'Favorite List', favorites_path,class:"label label-primary" %></p>
  <br>
  <p><%= link_to 'Back to top',records_path %></p>
</div>
