<%= form_with(model: @record, local: true, url: choose_new_or_edit)do|form| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @record.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @record.errors.full_messages.each do|msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_content">
    <p><%= form.label :content %></p>
    <p><%= form.text_field :content %></p>
    <%= image_tag(@record.image.url) if @record.image && @record.image.url %>
    <p><%= form.file_field :image %></p>
    <p><%= form.hidden_field :image_cache %></p>
  </div>
  <%= form.submit %>
<% end %>
<p><%= link_to '投稿一覧に戻る',records_path %></p>
