<%= form_with(model: @record, local: true, url: choose_new_or_edit)do|form| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @record.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @record.errors.full_messages.each do|msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_content">
    <br>
    <p><%= image_tag(@record.image.url) if @record.image && @record.image.url %></p>
    <label><%= form.file_field :image %></label>
    <p><%= form.hidden_field :image_cache %></p>
    <br>
    <p><%= form.label :content %></p>
    <p><%= form.text_area :content %></p>
    <br>
  </div>
  <%= form.submit %>
<% end %>
<br>
<br>
<p><%= link_to 'Back to top',records_path %></p>
