<%= form_with(model: @record, local: true, url: choose_new_or_edit)do|form| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @record.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @record.errors.full_messages.each do|msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to '投稿一覧に戻る',records_path %>
