<div class="container">
  <% if notice.present? %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <h1>Post</h1>
  <% @record.each do |record| %>
    <div class="posted_record">
      <p><%= image_tag record.image.url, class:"image-vw" %></p>
      <p><%= record.content %></p>
      <p>Poster：<%= record.user.name %></p>
      <%= link_to 'More',record_path(record.id),class:"label label-primary" %>
      <% if logged_in? && current_user.id == record.user_id %>
        <%= link_to 'Edit',edit_record_path(record.id),class:"label label-warning" %>
        <%= link_to 'Delete',record_path(record.id),method: :delete, data: { confirm: '本当に削除しますか？' },class:"label label-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
<p><%= link_to 'New post',new_record_path,class:"btn btn-success btn-lg" %></p>
