<div class="container">
  <h1>Details</h1>
  <br>
  <%= image_tag @record.image.url, class:"image-vw" %>
  <br>
  <br>
  <p><%= @record.content %></p>
  <br>
  <p>Poster：<%= @record.user.name %></p>
  <br>
  <% unless @record.user_id == current_user.id %>
    <% if @favorite.present? %>
      <p><%= link_to 'Remove from favorite',favorite_path(id: @favorite.id),method: :delete, class: 'btn btn-danger' %></p>
    <% else %>
      <p><%= link_to 'Favorite',favorites_path(record_id: @record.id),method: :post, class: 'btn btn-primary' %></p>
    <% end %>
  <% else %>
    <p><%= link_to 'Edit',edit_record_path(@record.id) %></p>
  <% end %>
  <br>
  <p><%= link_to 'Back to top',records_path %></p>
</div>
