<!DOCTYPE html>
<html>
  <head>
    <title>RailsExam3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">
        <%= link_to image_tag("insta.png", class: "logo_image"),records_path %>
        <%= link_to "Instaclone", records_path %>
      </div>
      <ul>
      <% if logged_in? %>
        <li class="header_btn"><%= link_to "Profile",user_path(current_user.id)%></li>
        <li><%= link_to "Logout",session_path(current_user.id),method: :delete,data:{ confirm: "ログアウトしますか？" } %></li>
      <% else %>
        <li><%= link_to "Sign up",new_user_path %></li>
        <li><%= link_to "Login",new_session_path %></li>
      <% end %>
      </ul>
    </header>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class:"#{key}") %>
    <% end %>
    <%= yield %>
    <footer>
      <p>Copyright © 2020 Instaclone Co.,Ltd</p>
    </footer>
  </body>
</html>
